.app-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #1e1e2f;
  padding: 15px;
  text-align: center;
  color: #bfbfbf;
  font-size: 0.9rem;
  border-top: 2px solid #32324a;
  z-index: 999;
}
