.app-footer {
  width: 100%;
  margin-top: 80px;
  padding: 25px 0;


  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border-top: 1px solid rgba(18, 6, 121, 0.25);

  text-align: center;


  box-shadow: 0 -6px 18px rgba(0, 0, 0, 0.45);

  position: relative;
  z-index: 10;
}

.app-footer p {
  color: rgba(255, 255, 255, 0.986);      
  font-size: 1.05rem;
  font-weight: 600;
  letter-spacing: 0.6px;

 
  text-shadow: 0 0 6px rgba(120, 190, 255, 0.25);
}

.app-footer p strong {
  color: #000000;       
}
