.app-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #1e1e2f;
  padding: 18px 40px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.25);
  z-index: 1000;
}

a:last-child{
  margin-right: 100px;
}

a{
  padding: 15px;
}

.app-header .logo {
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 1px;
  user-select: none;
}

.app-header .menu {
  display: flex;
  align-items: center;
  gap: 25px;
}

.app-header .menu a {
  text-decoration: none;
  color: #dcdcdc;
  font-size: 1rem;
  font-weight: 600;
  transition: 0.3s;
  padding-bottom: 3px;
}

.app-header .menu a:hover {
  color: #ffffff;
}

.app-header .menu a.active {
  color: #72c1ff;
  border-bottom: 2px solid #72c1ff;
}
