.funcionarios-page {
  width: 92%;
  margin-top: 25vh;
  margin-left: auto;
  margin-right: auto;
}

.funcionarios-page h2 {
  text-align: center;
  font-size: 2rem;
  color: #1e1e2f;
  margin-bottom: 25px;
}

.cards-container {
  display: grid;
  gap: 25px;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}
