<section class="cadastro-page">

  <h2>Cadastro – Consultar / Alterar / Excluir</h2>

=
  <div class="consulta-box">
    <input type="number" [(ngModel)]="idConsulta" placeholder="Informe o ID">
    <button (click)="consultar()">Consultar</button>
  </div>

=
  <div *ngIf="dados" class="dados-card">
    <p><strong>ID:</strong> {{ dados.id }}</p>
    <p><strong>Nome:</strong> {{ dados.nome }}</p>
    <p><strong>Departamento:</strong> {{ dados.departamento }}</p>
    <p><strong>Endereço:</strong> {{ dados.endereco }}</p>
    <p><strong>E-mail:</strong> {{ dados.email }}</p>

    <button class="btn-excluir" (click)="excluir()">Exclusão</button>
  </div>

=
  <div *ngIf="mensagem" [ngClass]="status === 'Ok' ? 'msg-ok' : 'msg-erro'">
    {{ mensagem }}
  </div>

=
  <div *ngIf="dados" class="alterar-box">
    <h3>Alterar Cadastro</h3>

    <input [(ngModel)]="form.nome" placeholder="Nome">
    <input [(ngModel)]="form.departamento" placeholder="Departamento">
    <input [(ngModel)]="form.endereco" placeholder="Endereço">
    <input [(ngModel)]="form.email" placeholder="Email">

    <button (click)="alterar()">Alterar</button>
  </div>

</section>
