<div class="card">
  <div class="foto">
    <!-- Usa uma foto padrão se a API não retornar imagem -->
    <img [src]="funcionario.foto || 'https://cdn-icons-png.flaticon.com/512/3135/3135715.png'" alt="{{funcionario.nome}}">
  </div>
  
  <div class="nome">{{ funcionario.nome || 'Sem Nome' }}</div>
  
  <div class="info-group">
    <div class="prop">🏢 {{ funcionario.departamento || 'Sem Depto' }}</div>
    <div class="prop">📍 {{ funcionario.endereco || 'Sem Endereço' }}</div>
  </div>

  <div class="email">
    <a [href]="'mailto:' + funcionario.email">{{ funcionario.email }}</a>
  </div>
</div>